#wrapper-try-it
{
	overflow: auto;
	position: relative;
	width: 630px;
}
	#wrapper-try-it h1,
	#wrapper-try-it h2,
	#wrapper-try-it h3,
	#wrapper-try-it p,
	#wrapper-try-it ul
	{
		margin-bottom: 20px;
		padding: 0;
		line-height: 1.3;
		list-style-type: none;
	}
	#wrapper-try-it h1
	{
		width: 523px;
		height: 33px;
		margin: 35px 0 10px 0;
		padding: 0;
		background: transparent url('../images/txt_balance_your_checking_account.png') no-repeat 0 0;
		text-indent: -9999px;
	}
	#wrapper-try-it p { font-size: 13px !important; }
	#feedback
	{
		overflow: auto;
		position: relative;
		width: 630px;
		height: 80px;
	}
		#feedback li,
		#nav-bottom
		{
			margin: 0;
			padding: 0;
		}
		#cal
		{
			position: absolute;
			width: 77px;
			height: 80px;
			top: 0;
			left: 22px;
			background: transparent url('../images/bg_calendar.png') no-repeat 0 0;
		}
			#cal img
			{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: transparent url('../images/cal_dates.png') no-repeat 0 0;
			}
				#cal.day-1 img { background-position: 0 -80px; }
				#cal.day-2 img { background-position: 0 -160px; }
				#cal.day-3 img { background-position: 0 -240px; }
				#cal.day-4 img { background-position: 0 -320px; }
				#cal.day-5 img { background-position: 0 -400px; }
				#cal.day-6 img { background-position: 0 -480px; }
				#cal.day-7 img { background-position: 0 -560px; }
				#cal.day-8 img { background-position: 0 -640px; }
				#cal.day-9 img { background-position: 0 -720px; }
		#bal
		{
			position: absolute;
			top: 0;
			left: 110px;
			font-size: 16px;
			font-weight: bold;
			line-height: 1.4;
		}
	#register
	{
		position: relative;
		width: 600px;
		height: 217px;
		margin-bottom: 20px;
		background: transparent url('../images/bg_register.png') no-repeat 0 0;
	}
		#register table
		{
			position: absolute;
			top: 26px;
			left: 0;
		}
		#register input
		{
			display: none;
			border: 0 none;
			height: 17px;
			margin-top: 2px;
			margin-left: 2px;
			background-color: transparent;
			font-size: 12px;
			 -webkit-appearance: none;
    		border-radius: 0;
			-webkit-border-radius: 0px;
		}
		.tbcol-1 input { width: 52px; }
		.tbcol-2 input { width: 45px; }
		.tbcol-3 input { width: 229px; }
		.tbcol-4 input { width: 42px; }
		.tbcol-5 input { width: 31px; }
		.tbcol-6 input { width: 41px; }
		.tbcol-7 input { width: 31px; }
		.tbcol-8 input { width: 41px; }
		.tbcol-9 input { width: 33px; }
		.tbcol-0 img
		{
			display: block;
			background: transparent url('../images/tryit_arrow_right.png') no-repeat 0 30px;
		}
			.current .tbcol-0 img { background-position: 0 3px; }
		.tbcol-10 img
		{
			display: block;
			background: transparent url('../images/tryit_arrow_left.png') no-repeat right 30px;
		}
			#register .tbrow-0 .tbcol-10 img { background-position: right 3px; }
		#register .tbrow-0 .tbcol-8 input,
		#register .tbrow-0 .tbcol-9 input
		{
			display: block;
		}
	.button
	{
		display: block;
		margin-bottom: 20px;
		margin-left: 16px;
		cursor: pointer;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
		.button:hover { background-position: 0 -24px; }
		#button-continue { background-image: url('../images/button_continue.png'); margin: 0; }
		#button-check-balance { display: none; background-image: url('../images/button_check_balance.png'); margin: 0; }
		#button-clear { background-image: url('../images/button_clear.png');  margin: 0; }
	#nav-bottom
	{
		overflow: auto;
		position: relative;
		width: 580px;
		height: 24px;
	}
		#nav-bottom li { float: right; margin: 0; padding: 0; }
		#nav-bottom li:first-child  { float: left; margin-left: 16px; }
		